.pokemon_card {
  width: 300px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  border: 2px solid red;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}
.pokemon_card a {
  padding: 0.7rem 2rem;
  background: red;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid red;
  transition: all 0.3s ease;
}
.pokemon_card a:hover {
  background: transparent;
  color: #111;
}
.pokemon_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.pokemon_info h3 {
  text-transform: capitalize;
}
