.navbar {
  width: 100%;
  height: 70px;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3.5rem;
  position: sticky;
  top: 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 20px;
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: red;
}
.logo_container,
.links_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.links_container {
  gap: 3rem;
}

@media screen and (max-width: 600px) {
  .home_link {
    display: none;
  }
  .logo_container h1 {
    font-size: 25px;
  }
  .links_container a {
    font-size: 18px;
  }
  .navbar {
    padding: 1rem;
  }
}
