.pokemon_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 95%;
  max-width: 400px;
  border-radius: 1rem;
  border: 3px solid;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}
.pokemon_section h1 {
  text-transform: capitalize;
}
.pokemon_info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.pokemon_info_container h3 {
  margin-right: 2rem;
}
.pokemon_info_container p,
.pokemon_info_container span {
  font-size: 20px;
}
.weight_height_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

/* TIPOS */
.type_container {
  max-width: 220px;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}
.type {
  max-width: 100px;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-transform: uppercase;
}
.type_normal {
  background-color: #aa9;
}

.type_fire {
  background-color: #f42;
}

.type_water {
  background-color: #39f;
}

.type_eletric {
  background-color: #fc3;
}

.type_grass {
  background-color: #7c5;
}

.type_ice {
  background-color: #6cf;
}

.type_fighting {
  background-color: #b54;
}

.type_poison {
  background-color: #a59;
}

.type_ground {
  background-color: #db5;
}

.type_flying {
  background-color: #89f;
}

.type_psychic {
  background-color: #f59;
}

.type_bug {
  background-color: #ab2;
}

.type_rock {
  background-color: #ba6;
}

.type_ghost {
  background-color: #66b;
}

.type_dragon {
  background-color: #76e;
}

.type_dark {
  background-color: #754;
}

.type_steel {
  background-color: #aab;
}

.type_fairy {
  background-color: #e9e;
}
.section_normal {
  border-color: #aa9;
}

.section_fire {
  border-color: #f42;
}

.section_water {
  border-color: #39f;
}

.section_eletric {
  border-color: #fc3;
}

.section_grass {
  border-color: #7c5;
}

.section_ice {
  border-color: #6cf;
}

.section_fighting {
  border-color: #b54;
}

.section_poison {
  border-color: #a59;
}

.section_ground {
  border-color: #db5;
}

.section_flying {
  border-color: #89f;
}

.section_psychic {
  border-color: #f59;
}

.section_bug {
  border-color: #ab2;
}

.section_rock {
  border-color: #ba6;
}

.section_ghost {
  border-color: #66b;
}

.section_dragon {
  border-color: #76e;
}

.section_dark {
  border-color: #754;
}

.section_steel {
  border-color: #aab;
}

.section_fairy {
  border-color: #e9e;
}

@media screen and (max-width: 435px) {
  .pokemon_section {
    padding: 1rem;
  }
}
@media screen and (max-width: 318px) {
  .pokemon_info_container {
    flex-direction: column;
    align-items: flex-start;
  }
  .type_container {
    flex-direction: column;
    align-items: flex-start;
  }
}
